<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}:} %msg%n"/>
        </Console>


        <File name="MyFile" fileName="${sys:logFileName}" append="false" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <!--UNCOMMENT TO SPECIFY LOG LEVEL OF PACKAGES
	<Logger level="info" name="protocols.apps"/>-->
        <Logger level="warn" name="logsGenerators.FinalizedBlocksLog"/>
        <Logger level="warn" name="pt.unl.fct.di.novasys.babel.core"/>
        <Logger level="warn" name="broadcastProtocols"/>-->
        <Logger level="warn" name="peerSamplingProtocols"/>-->
        <Logger level="warn" name="mempoolManager"/>
        <Logger level="debug" name="ledger.ledgerManager.LedgerManager"/>
        <Logger level="warn" name="ledger"/>
        <Logger level="warn" name="sybilResistantElection.SybilResistantElection"/>
        <Logger level="warn" name="main"/>
        <Logger level="debug" name="demo"/>
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>

</Configuration>

